<!-- app/views/categories/show.html.erb -->

<h1><%= @category.name %> Category</h1>

<h2>Total Amount: <%= @total_amount %></h2>

<h3>Exchanges:</h3>

<ul>
  <% @exchanges.each do |exchange| %>
    <li><%= exchange.name %>: <%= exchange.amount %></li>
  <% end %>
</ul>

<%= link_to 'Back to Categories', categories_path %>
<%= link_to 'New Exchange', new_category_exchange_path(@category), class: 'btn btn-primary' %>
