<div class="container mt-5 ">
  <h1><%= @category.name %> transactions</h1>
  
  <div class="row">
    <div class="col-md-6">
      <p>Total Exchange Amount: <%= @total_amount %></p>
      <h2>Exchange Items</h2>
      
      <% @exchanges.each do |exchange| %>
        <div class="card mb-3">
          <div class="card-body d-flex justify-content-between">
            <h5 class="card-title"><%= exchange.name %></h5>
            <p class="card-text">Amount: <%= exchange.amount %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <%= link_to 'Create New Exchange', new_category_exchange_path(@category), class: "btn btn-primary" %>
</div>
